@import "../vendors/_bootstrap";

.les-services {
  background:transparent;
  position: relative;
  
  .sous-services-container{
    position: absolute;
    top: 0;
    height: 80svh;
    @include media-breakpoint-up(md) {
      min-height: 100svh;
    }
    @include media-breakpoint-up(lg) {
      min-height: 120svh;
    }
    z-index: 1000;
    
    .sousService-img,
    .sous-service-card{
      aspect-ratio: 1;
      @include media-breakpoint-down(sm) {
        min-height: 100px;
        max-height: 150px;
        max-width: 150px;
      }
      
    }
    
  }
  .service-section {
    min-height: 80svh;
    position: relative;
    z-index: 1000;
    @include media-breakpoint-up(md) {
      min-height: 100svh;
    }
    @include media-breakpoint-up(lg) {
      min-height: 120svh;
    }
    .service-title {
      position: relative;
      z-index: 1000;
      margin-bottom: 20px;
    }

    .card-container {
      position: absolute;
      top: 0;
      height: 100svh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      @include media-breakpoint-up(lg) {
        min-height: 120svh;
      }
      .visite--card-body {
        aspect-ratio: 1;
      }

      
      .service-description,
      .service-img {
        z-index: 1000;
        position: relative;
      }
    }
    .horaire-container{
      position: absolute;
      top: 0;
      height: 100svh;
      width: 100svb;
    }
    .first-section-top-decoration,
    .other-section-top-decoration,
    .last-section-top-decoration {
      z-index: 999;
      top: 0;
      position: absolute;
    }

    .first-section-bottom-decoration,
    .other-section-bottom-decoration,
    .last-section-bottom-decoration {
      z-index: 999;
      bottom: 0;
      position: absolute;
    }
  }

  .btn-carte-zoo {
    position: absolute;
    bottom: 5%;
    z-index: 1000;
  }
}
