<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zoo Arcadia{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}Bienvenue au Zoo Arcadia, Un zoo familial soucieux des animaux et de leur environnement.{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}zoo, animaux, nature, visite guidée, famille{% endblock %}">
        <meta name="author" content="Zoo Arcadia">
        <meta name="author" content="Zoo Arcadia">
        <meta name="robots" content="index, follow">

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
